
  .flexbox-container {
      display: flex;
      justify-content: center;
      flex-direction: grid;
      align-items: right;
      flex-wrap: wrap;
      background-color: #f1f1f1;
      margin: 10px;
      padding: 20px;
      font-size: 30px;
      
    }
    .flexbox-item {
      min-width: 400px;
      min-height: 400px;
      margin: 5px;
      border: 5px solid #333;
      background-color: rgb(248, 215, 211);
      
      
      
      
      
    }
    .flexbox-item-1 {
           
      flex: 1;
    }
    .flexbox-item-2 {
            
      flex: 1;
    }
    .flexbox-item-3 {
      
      flex: 1;
    }
    .flexbox-item-4 {
      
      flex: 1;
    }

